.hero{
    padding-top:1px;
    background: #ffba83;
}

.sec1{
    height:600px;
}

.sec1 .cent{
    display:flex;
}


.auth, .pic{
    width:600px;
    height:100%;
}


.auth{
    background: white;
    padding:16px 16px;
}


.ne{
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    height:80px;
    margin:56px 0;
}

.auth button{
    margin: 0 auto;
}

.auth input{
    width:250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.468);
    padding:12px 0;
}