.hero{
    padding-top:1px;
    background: #ffba83;
}

.sec1{
    height:600px;
}

.sec1 .cent{
    display:flex;
    animation: fade_in .8s;
}


.auth, .pic{
    width:600px;
    height:100%;
}


.auth{
    background: white;
    padding:16px 16px;
}


.ne{
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    height:80px;
    margin:40px 0;
}

.auth button{
    margin: 0 auto;
}

.auth input{
    width:250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.468);
    padding:12px 0;
}


.pic_cont{
    width:500px;
    height:400px;
    margin:80px auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pic_cont img{
    width:500px;
    height:auto;
}


.sec1 .signup{
    display:none;
}

.login .ne{
    justify-content: center;
}

.login input{
    width:400px;
}

.has_acc{
    margin:16px 0;
    font-weight:500;
    cursor:pointer;
}

.no_acc{
    margin:40px 0;
    font-weight:500;
    cursor:pointer;
}

.sec1 .login{
    height: 500px;
}

