.sec1{
    height:950px;
}

.car_sec{
    height:1060px;
}


.sec1 .cent{
    display:flex;
}


.img, .other{
    width:600px;
    height:100%;
}


.other{
    padding-top:20px;
    padding-left:16px;
}

.other h1{
    text-align: left;
}

.other h4{
    text-align:left;
    font-weight:300;
    margin:20px 0;
    font-size:16px;
}

.star_array{
    margin:20px 0;
    width:100px;
    height:16px;
    display:flex;
    justify-content: space-between;
}

.star_array i{
    color:var(--accent);
    font-size: 16px;
}


.calendar_box{
    width:550px;
    margin:20px 0;
    height: 500px;
}

.other input{
    width:550px;
    height:35px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.416);
    margin:5px 0;
    padding:5px 10px;
}


.other button{
    margin:16px 0;
    padding:13px 25px;
}


#rent{
    height:500px;
}

#loc{
    margin-top:40px;
}





.car_img{
    width:500px;
    height:500px;
    margin:200px auto;
    display:flex;
    justify-content: center;
    align-items: center;
}


#rent_img{
    margin:60px auto;
}

.car_img img{
    width:500px;
    height:auto;
}

.sec2{
    height:500px;
}


.sec2 .cent{
    display:flex;
    flex-wrap: wrap;
}



.taxis{
    width:100%;
    margin:24px 0;
    height:460px;
    display:flex;
}


.taxis .card{
    width:320px;
    height:390px;
    margin: 18px 60px;
}

.car{
    width:100%;
    height:170px;
    display:flex;
    justify-content: center;
    align-items: baseline;
}


.car img{
    width:auto;
    height:100%;
    width:100%;
    object-fit:cover;
}



.data{
    margin:14px 0;
    width:100%;
}

.data h4{
    text-align: left;
    text-transform: capitalize;
    font-weight:500;
    font-size:16px;
}


.card button{
    padding:13px 25px;
}


.dates{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 35px 0 8px;
}

.dates input{
    width:200px;
    padding:5px 10px;
}