

.cent{
    width:1200px;
    height:100%;
    margin:0 auto;
    padding-top:1px;
}

.img_container .cent{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome_cont{
  width:1000px;
  height:250px;
  border-radius: 30px;
  position:relative;
  border:4px solid white;
  animation: fade_in 1s;
}



@keyframes grow {
  from{
    width:0;
    opacity:0;
  }

  to{
    width:540px;
    opacity:1;
  }
}



.img_container h4{
  color:white;
  text-align: center;
  margin:20px 0;
  animation: fade_in 1s;
  font-size:30px;
  font-weight:600;
}

.img_container button{
  animation: fade_in 1s;
  margin:40px auto;
}


.sec1{
  height:auto;
  min-height:500px;
}

.sec1 .cent{
  display:flex;
  flex-wrap: wrap;
  height:auto;
  min-height:500px;
}

.sec1 h1{
  margin-bottom:100px;
}

.school_card{
  width:350px;
  height:360px;
  box-shadow: var(--shadow);
  margin:10px 24px;
  animation: fade_in 1s;
  /* border-radius:16px; */
}

.text{
  width:100%;
  height:140px;
  padding:20px 18px;
  background: #615d61e2;
  position:relative;
}

.text h1{
  text-align: left;
  margin:6px 0;
  color:white;
}

.text h4{
  text-align: left;
  margin:6px 0;
  color:white;
  font-weight:600;
}

.prof{
  width:70px;
  height:70px;
  border-radius: 50%;
  position:absolute;
  right:0;
  bottom:-30px;
  background: white;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.prof i{
  color:var(--accent);
  font-size:32px;
}

.actions{
  width:100%;
  height:60px;
  margin-top:160px;
  border-top:1px solid rgba(0, 0, 0, 0.112);
}

.ac_cont{
  width:80px;
  height:100%;
  float:right;
}

.ac_cont i{
  display:block;
  margin:20px 30px;
  font-size:30px;
  color: var(--accent);
}


